
.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
  padding-bottom: 0;
  max-width: 620px;
}

.info {
  margin: 0;
  padding: 0;
  background-color: @dark;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/bg-back-mobile@1x.jpg");

  &--index {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 260px auto;
    background-image: url("../img/iphone-hand-mobile@1x.png");
  }
}

.info__wrapper {
  color: @white;

  &--photo {
    padding-top: 100px;
    padding-bottom: 82px;
  }

  &--form {
    padding-top: 100px;
    padding-bottom: 53px;
  }
}

.info-title {
  &--index {
    min-height: 462px;
    width: 280px;
    text-align: center;
  }

  &--photo,
  &--form {
    margin-left: auto;
    margin-right: auto;
  }

  &--photo {
    max-width: 200px;
  }

  &--form {
    max-width: 240px;
  }
}

.info-title__wrapper {
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding: 0;

  /*&--index {
    display: none;
  }*/

  &--photo,
  &--form {
    font-size: 24px;
    line-height: 29px;
  }
}

.btn--down {
  width: 98%;
  text-align: center;
  border: 3px solid @white;
  border-radius: 50px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-weight: 700;
  font-size: 18px;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 30px;

  &:hover {
    background-color: @white;
    color: @pink;
  }

  &:active {
    color: @pink-30;
  }
}

.download__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding-top: 28px;
  padding-bottom: 29px;
}

.download {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-left: 22px;
  padding-right: 22px;
  min-height: 60px;
  padding-bottom: 16px;
}

.download__link {
  display: block;
}

.download__description {
  display: block;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
  margin: 0;
  padding: 0;
}
